.text-center .container {
   width: 60%; 
}

/* 靠左排列 */
.text-center .container .odd {
  float: left;
  clear: both; /* 清除浮動 */
  text-align: left;
  width: 95%;
}

/* 靠右排列 */
.text-center .container .even {
  float: right;
  clear: both; /* 清除浮動 */
  text-align: right;
  width: 95%;
}


