/* 將 1. 3. 5. 靠左排列 */
.text-center > .container > div:nth-child(odd) {
  float: left;
  clear: both; /* 清除浮動 */
  margin-right: 20px; /* 可以調整間距 */
}

/* 將 2. 4. 6. 靠右排列 */
.text-center > .container > div:nth-child(even) {
  float: right;
  clear: both; /* 清除浮動 */
  margin-left: 20px; /* 可以調整間距 */
}

/* 將 7. 置中 */
.text-center > .container > div:nth-child(7) {
  margin: 0 auto;
  display: table;
}
